body {
    background-color: blanchedalmond;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: cornsilk;
    border-radius: 0.4rem;
}

h2 {
    font-size: 1rem;
}

/*--------------------------Header----------------------------- */
header>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------Navigation Bar--------------------- */
nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    border-radius: 0.4rem;
    background-color: cornsilk;
    text-underline-offset: 0.5rem;
}

nav li:hover {
    background-color: rgb(225, 217, 185);
    transform: rotateZ('360deg');
    transition: 0.25s;
}

/*--------------------------Main----------------------------- */
section {
    display: flex;
}

article {
    flex: 1;
    margin-left: 1rem;
    margin-right: 1rem;
}

article:hover {
    background-color: rgb(225, 217, 185);
    border-radius: 0.5rem;
    transform: rotateZ('360deg');
    transition: 0.5s;
}

#first-row p {
    float: none;
}

#secondrow-about>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#secondrow-owners>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#secondrow-consultant>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------Footer----------------------------- */
footer {
    display: flex;
    margin-top: 2rem;
    background-color: rgb(225, 217, 185);
    border-radius: 0.rem;
}

footer div {
    flex: 1;
}

footer>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}